@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

:root {
    --primary-color: #ff993c;
    --primary-text-color: #1e0d03;

    --search-color: rgba(237, 237, 237, 1);
    --text-white: #ffffff;
    --background-color: #e5e5e5;
    --sidebar-yellow: #ffb800;
    --circle-orange: #ff8a48;
    --btn-blue: #27aef9;
    --border-status-grey: #919dba;
    --border-status-red: #fd5959;
    --text-was-used-color: #919dba;
    --text-not-used-color: #03ac00;
    --text-expired-color: #fd5959;
    --show-calendar: rgba(109, 46, 0, 0.35);
    --chart-color: #888888;
    --calendar-today-color: #ffba7b;
    --calendar-weekdays-color: #c55e00;
    --calendar-text-color: #23221f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--background-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    color: var(--primary-text-color);
}

li {
    list-style: none;
}

a {
    color: var(--primary-text-color);
    text-decoration: none;
}

input[type='radio'] {
    cursor: pointer;
    height: 24px;
    width: 24px;
}

table,
th,
td,
tr {
    border: none;
}

input[type='checkbox'] {
    width: 24px;
    height: 24px;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
}

.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.styled-checkbox + label:before {
    content: '';
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background: white;
    box-sizing: border-box;
    border: 2px solid #a5a8b1;
    border-radius: 4px;
}

.styled-checkbox:active + label:before {
    border: none;
}

.styled-checkbox:checked + label:before {
    background: var(--btn-blue);
    border: none;
}

.styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}

.styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}

.styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 4.5px;
    top: 11px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 4px 0px 0 white, 2px 0px 0 white, 6px 0 0 white,
        6px -2px 0 white, 6px -4px 0 white, 6px -6px 0 white, 6px -6px 0 white,
        6px -10px 0 white, 6px -12px 0 white, 6px -8px 0 white;
    transform: rotate(45deg);
    border: none;
    box-sizing: border-box;
}

select {
    -webkit-appearance: none;
}
